body{
    margin: 0;
  }

  #navbar  {
    display: flex !important;
    position: fixed !important;
    width: 100% !important;
    justify-content: center !important;
    background-color: #333 !important;
    font-family: fantasy !important;
  }
  
  /* Navbar links */
  #navbar a {
    display: inline-block !important;
    color: #f2f2f2 !important;
    text-transform: inherit !important;
    text-align: center !important;
    padding: 24px !important;
    text-decoration: none !important;
  }

   .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

  h1{
    padding-top: 3em;
    font-family: fantasy;
    font-size: 2em;
    border-bottom: 3px solid black;
    width: 400px;
    border-right: 2px solid black;
  }

  /* .button {
    background-color: #0000ff;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  } */
  .button { 
    display: flex;
    background-color: #0000ff;
    color: white;
    text-align: center;
    text-decoration: none;
    float: left;
    border-radius: 12px;
    height: 55px;
  }
  
  a:hover, a:active {
    background-color: red;
  }