body{
    margin: 0;
  }
  #navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    background-color: #333;
    font-family: fantasy;
  }
  
  /* Navbar links */
  #navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-transform: inherit;
    background-color: transparent;
    text-align: center;
    padding: 24px;
    text-decoration: none;
  }

.ceo{
  display: flex;
 width: 750px; height: 350px;
}


.intro{
   background-color: #bbb;
    background-attachment: fixed;
    color: black;
    padding: 10em;
    background-size:contain;
    align-items: center;
}


.photos{
  display: flex;
  transition: all 2s;
}

.photos :hover{
  transform: scale(1.1);
}

.apply{
  float: left;
}

.immidate{
  text-align: center;
  color: #000000;
}

footer{
  background-image: url(footer.jpg);
  padding: 5em;
  background-attachment: fixed;
  color: aliceblue;
  background-size: cover;
}

.sponsors{
  display: flex;
  width: 90px; height: 90px;
  transition: all 0.2s;
}

.sponsors :hover{
  transform: scale(1.1);
}

.sponsors .partner9{
  padding: 10px;
}

.sponsors .partner8{
  padding: 10px;
}

.sponsors .partner7{
  padding: 10px;
}

.sponsors .partner6{
  padding: 10px;
}

.sponsors .partner5{
  padding: 10px;
}

.sponsors .partner4{
  padding: 10px;
}

.sponsors .partner3{
  padding: 10px;
}

.sponsors .partner2{
  padding: 10px;
}

.sponsors .partner1{
  padding: 10px;
}

.flip-box {
  background-color: transparent;
  width: 1000px;
  height: 200px;
  perspective: 1000px;
}

.flip-box-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}