/* selector
    property : value; */
   BODY{
    margin: 0;
    background-color: rgba(77, 170, 0,0.7 );
    text-align: center;
    color: rgba(0, 100, 57,1);
   }

  .zone{
    
    font-size: 3em;
    border-radius: 4px;
    border: 1px solid#bbb;
    background-color: rgba(0, 0, 0, 0.6)
  }

  .main-nav{
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 0.7em;
    margin: 0em;

 }

 .sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }

   li{
    padding: 20px;
  }

  .personalinformation{
    float: left;
    font-size: large;
    line-height: 60px;
    padding: 30px;
    padding-right: 55px;
    padding-bottom: 80px;
    text-align: center;
    padding-top: 5px;
    background-color: rgba(39, 117, 84, 0.5);
  }

  .others{
    float: right;
    padding-right: 290px;
    padding-left:200px ;
    text-align: center;
    font-size: large;
    background-color: rgba(39, 117, 84, 0.5);
  }
  .upload{
    clear: both;
    font-size: large;
    text-transform: uppercase;
  }
  .submit{
    clear: both;
    background-color: rgba(183, 188, 161, 0.8);
    color: white;
    padding: 19px 400px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
  }