/* selector
    property : value; */
   BODY{
    margin: 0;
    background-image: url(try1.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: whitesmoke;
   }

   #navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    background-color: #0000ff;
    font-family: fantasy;
  }
  
  /* Navbar links */
  #navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-transform: inherit;
    background-color: transparent;
    text-align: center;
    padding: 24px;
    text-decoration: none;
  }

  header{
    padding-top: 6em;
  }

  .personalinformation{
    font-size: large;
    line-height: 50px;
    padding: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .upload{
    clear: both;
    font-size: large;
    text-transform: uppercase;
  }
  .submit{
    clear: both;
    background-color: #333;
    color: rgba(218, 231, 226, 0.6);
    padding: 19px 400px;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
  }

  .button {
    background-color: #0000ff;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }